.minePage {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  .mine {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    min-height: 100vh;

    .info {
      height: 100px;
      padding: 0 20px;
      display: flex;
      position: relative;
      z-index: 1;

      .avatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;
      }

      .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;

        .name {
          font-size: 33px;
        }
      }
    }

    .content {
      flex: 1;
      z-index: 999;
      padding: 20px;
      margin-top: 150px;

      .operation {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: #e6e6e6 0 0 20px;

        .icon {
          width: 50px;
          height: 50px;
          margin-right: 20px;
        }
      }
    }
  }
}
