@import "../styles/variable.scss";

.tab-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  font-size: 32px;
  background: transparent;
  &-wrap {
    display: flex;
    height: 110px;
    margin-top: 40px;
    background: $tabBarBackground;
    &-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 8px;
      &-icon {
        width: 55px;
        height: 55px;
      }
      &-btn {
        font-size: 24px;
        line-height: 42px;
        background: #ffffff;
        color: $tabBarTextColor;
        &.active {
          color: $tabBarTextColorActive;
        }
      }
    }
  }

  &-manage {
    width: 145px;
    height: 145px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $tabBarBackground;
    border-radius: 50%;

    &-icon {
      position: relative;
      margin-left: 20px;
      margin-top: 20px;
      width: 105px;
      height: 105px;
    }
  }
}
