.customTabBar {
  width: 100%;
  height: 48px;
  bottom: 0;
  background-color: dodgerblue;
  display: flex;
  align-items: center;

  .tabItem {
    flex-grow: 1;
    background-color: azure;
    color: black;
    text-align: center;

    &.selected {
      background-color: darkslateblue;
      color: cadetblue;
    }
  }
}
