$tabBarBackground: #ffffff;
$tabBarTextColor: #2c2c2c;
$tabBarTextColorActive: #1296db;

$pageBackground: #bfbfbf;

$buttonBackground: #2c2c2c;
$buttonBackgroundActive: #1296db;
$buttonTextColor: #ffffff;
$buttonTextColorActive: #2c2c2c;
